
p {
    font-size: 1.4em;
}

blockquote {
    font-size: 3.0em;
}

/* --------- tabs -------------- */


/* lined tabs */

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
}



/* ----------- wordArt----------- */


span.sp_spell {
    text-decoration: none;
    font-family: Muli, Century Gothic, Comic Sans MS, Cursive;
    font-weight: 600;
    /* font-size: 32px; 200%; */
    color: black;
}


